<template>
  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Get risk overview of persons as calculated by CBS
          <button
            class="button is-primary"
            v-bind:class="{ 'is-loading': loading_persons }"
            v-on:click="getPersonRisks()"
          >
            Show
          </button>
        </p>
      </header>
      <div class="card-content" v-if="persons !== null">
        <div class="content">
          <table class="table">
            <thead>
              <th>ID</th>
              <th>Risk Score</th>
            </thead>
            <tbody>
              <tr v-for="person in persons" :key="person.id">
                <td>{{ person.id }}</td>
                <td>{{ person.score }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="notification is-danger" v-if="request_failed">
        Failed to retrieve a risk overview from CBS because a contract was
        rejected by the Lawful Ground Manager.
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
export default Vue.extend({
  data() {
    return {
      api: axios.create({
        baseURL: "/api/",
        timeout: 30000,
      }),
      loading_persons: false,
      request_failed: false,
      persons: null,
    };
  },
  methods: {
    getPersonRisks() {
      this.persons = null;
      this.loading_persons = true;
      this.api
        .get("person-risks")
        .then((response) => {
          this.persons = response.data;
          this.loading_persons = false;
          this.request_failed = false;
        })
        .catch((error) => {
          this.loading_persons = false;
          this.request_failed = true;
          console.error(error);
        });
    },
  },
});
</script>
<style scoped>
.card-header-title {
  display: flex;
  justify-content: space-between;
}
</style>