<template>
  <div class="container">
    <div class="card-content">
      <div class="content">
        <table class="table">
          <thead>
            <th>Contract ID</th>
            <th>Contract Started</th>
            <th>Provider</th>
            <th>Consumer</th>
            <th>Data Subjects</th>
          </thead>
          <tbody>
            <tr v-for="contract in contracts" :key="contract.id">
              <td>{{ contract["@id"].substring(44) }}</td>
              <td>{{ contract["ids:contractStart"] | date }}</td>
              <td>{{ contract["ids:provider"] }}</td>
              <td>{{ contract["ids:consumer"] }}</td>
              <td>{{ assigners }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import moment from "moment";

export default Vue.extend({
  components: {
    /* RuleForm */
  },
  props: ["dataOwnerId"],
  filters:{
    date: function (date) {
      return moment(date, 'YYYY-MM-DDTHH:mm:ss.SSSUTC').format('DD-MM-YYYY HH:mm:ss');
    }
  },
  data() {
    return {
      api: axios.create({
        baseURL: "/api/contracts",
        timeout: 30000,
      }),
      addingRule: false,
      isLoading: false,
      dataOwnerRule: null,
      contracts: null
    }
  },
  created: async function () {
    this.getContracts();
  },
  methods: {
    getContracts() {
      this.api.get().then((response) => {
        this.contracts = response.data;
        this.assigners = this.contracts
          .flatMap(function (contract) {
            return contract["ids:permission"][0]["ids:assigner"].map(assigner => assigner["@id"]);
          })
          .filter(this.isUnique)
          .join();
      });
    },
    isUnique(value, index, self) {
      return self.indexOf(value) === index;
    }
  },
});
</script>
<style scoped>
.is-clickable {
  cursor: pointer;
}
</style>