<template>
  <div id="app">
    <section class="hero is-bold is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">NL AI Coalitie - ia2ai.nl</h1>
          <h2 class="subtitle">Authorization Registry</h2>
          The Authorization Registry holds a record of instantiated contracts between Data Providers and Data Consumers.
        </div>
      </div>
    </section>
    <div class="body pt-5">
      <ContractOverview />
    </div>
    <footer class="footer">
      <div class="content has-text-centered has-text-white">
        <div class="nlaic-logo">
          <img src="@/assets/nlaic-logo.svg" />
        </div>
        <p>© 2020 Nederlandse AI Coalitie</p>
        <div class="tno-logo">
          <img src="@/assets/tno-logo.png" />
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import ContractOverview from "./components/ContractOverview.vue";

export default {
  components: {
    ContractOverview,
  },
  data() {
    return {
      userId: null,
      userRule: null,
      legalEntity: null,
      loggedIn: false
    }
  },
  methods: {
    login(userId) {
      this.loggedIn = true;
      this.userId = userId;
    },
    legalEntityLogin(legalEntity) {
      this.loggedIn = true;
      this.legalEntity = legalEntity;
    },
    logout() {
      this.loggedIn = false;
      this.userId = null;
      this.legalEntity = null;
    }
  }
};
</script>

<style lang="scss">
@import "~bulma/bulma";
html {
  background-color: #222222;
}

.body {
  min-height: 20em;
  background-color: #ffffff;
}

.footer {
  background-color: #222222;
  position: relative;
  z-index: 20;
  > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    > * {
      margin-bottom: 3rem;
      width: 100%;
    }
    > .nlaic-logo {
      img {
        max-height: 130px;
      }
      @include from($desktop) {
        padding-right: 5em;
      }
    }
    > .tno-logo {
      img {
        max-height: 150px;
      }
      @include from($desktop) {
        padding-left: 5em;
      }
    }
    @include from($desktop) {
      flex-wrap: nowrap;
      > * {
        margin-bottom: 0rem;
      }
    }
  }
}
</style>