<template>
  <div class="container">
    <RuleForm
      v-if="addingRule"
      v-bind:isActive="addingRule"
      @submit="postProviderRule($event)"
      @cancel="closeRuleForm()"
    />
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Manage rule for legal entity: {{ legalEntity }}
        </p>
        <button class="button is-danger" @click="logout()">Log out</button>
      </header>
      <div class="card-content" v-if="dataOwnerRule !== null">
        <div class="content">
          <table class="table">
            <thead>
              <th>Data Provider</th>
              <th>Data Consumer</th>
              <th>Allow debt analysis</th>
              <th>Forbid use outside The Netherlands</th>
              <th>Allowed until</th>
              <th>Remove</th>
            </thead>
            <tbody>
              <tr
                v-for="(rule, idx) in dataOwnerRule.rulePerProvider"
                :key="idx"
              >
                <td>{{ rule.dataProvider }}</td>
                <td>{{ rule.dataConsumer }}</td>
                <td>
                  <span
                    v-if="rule.allowDebtAnalysis"
                    class="icon has-text-success"
                  >
                    <i class="fas fa-check"></i>
                  </span>
                </td>

                <td>
                  <span
                    v-if="rule.disallowOutsideNl"
                    class="icon has-text-success"
                  >
                    <i class="fas fa-check"></i>
                  </span>
                </td>
                <td>
                  {{ rule.allowedBefore }}
                </td>
                <td>
                  <span class="icon has-text-danger is-clickable" @click="deleteProviderRule(rule)">
                    <i class="fas fa-trash"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" @click="openRuleForm()">Add rule</a>
      </footer>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import RuleForm from "./RuleForm.vue";

export default Vue.extend({
  components: { RuleForm },
  props: ["legalEntity"],
  data() {
    return {
      api: axios.create({
        baseURL: "/api/legal-rule/",
        timeout: 30000,
      }),
      addingRule: false,
      isLoading: false,
      dataOwnerRule: null,
    };
  },
  created: async function () {
    this.getRule(this.legalEntity);
  },
  methods: {
    openRuleForm() {
      this.addingRule = true;
    },
    closeRuleForm() {
      this.addingRule = false;
    },
    getRule(id) {
      this.api.get(id).then((response) => {
        this.dataOwnerRule = response.data;
        this.dataOwnerRule.rulePerProvider.forEach((rule) => {
          if (rule.allowedBefore) {
            rule.allowedBefore = rule.allowedBefore.substring(0, 10);
          }
        });
      });
    },
    postProviderRule(dataProviderRule) {
      this.api
        .post(
          this.legalEntity + "/addProviderRule",
          dataProviderRule
        )
        .then(() => {
          this.closeRuleForm();
          this.getRule(this.legalEntity);
        });
    },
    deleteProviderRule(dataProviderRule) {
      this.api
        .post(
          this.legalEntity + "/deleteProviderRule",
          dataProviderRule
        )
        .then(() => {
          this.closeRuleForm();
          this.getRule(this.legalEntity);
        });
    },
    logout() {
      this.$emit("logout");
    },
  },
});
</script>
<style scoped>
.is-clickable {
  cursor: pointer;
}
</style>