<template>
  <div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
      <div class="tabs is-centered is-medium">
        <ul>
          <li
            @click="showDataOwner = true"
            v-bind:class="{ 'is-active': showDataOwner }"
          >
            <a>Data owner</a>
          </li>
          <li
            @click="showDataOwner = false"
            v-bind:class="{ 'is-active': !showDataOwner }"
          >
            <a>Legal entity</a>
          </li>
        </ul>
      </div>
      <form v-if="showDataOwner" class="box">
        <div class="field">
          <label for="" class="label">User ID</label>
          <div class="control">
            <input v-model="userId" type="number" class="input" required />
          </div>
        </div>
        <div class="field">
          <button type="button" @click="login()" class="button is-success">
            Login
          </button>
        </div>
      </form>
      <form v-if="!showDataOwner" class="box">
        <div class="field">
          <label for="" class="label">Legal entity</label>
          <div class="control">
            <input v-model="legalEntity" type="text" class="input" required />
          </div>
          <label for="" class="label">Password</label>
          <div class="control">
            <input type="password" class="input" required />
          </div>
        </div>
        <div class="field">
          <button type="button" @click="login()" class="button is-success">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      userId: null,
      legalEntity: null,
      showDataOwner: true,
    };
  },
  methods: {
    login() {
      if (this.showDataOwner) {
        this.$emit("login", this.userId);
      } else {
        this.$emit("legalEntityLogin", this.legalEntity);
      }
    },
  },
};
</script>