<template>
  <div class="modal" v-bind:class="{ 'is-active': isActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Provide rule</p>
        <button class="delete" aria-label="close" @click="cancel()"></button>
      </header>
      <div class="modal-card-body">
        <div class="field">
          <label class="label">Data provider</label>
          <div class="control">
            <div class="select">
              <select v-model="rule.dataProvider">
                <option v-for="dataProvider in dataProviders" :key="dataProvider">
                  {{ dataProvider }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Data consumer</label>
          <div class="control">
            <div class="select">
              <select v-model="rule.dataConsumer">
                <option v-for="dataConsumer in dataConsumers" :key="dataConsumer">
                  {{ dataConsumer }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" v-model="rule.allowDebtAnalysis" />
              Allow use for debt analysis
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" v-model="rule.disallowOutsideNl" />
              Forbid use outside of the Netherlands
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="label">
              Allow use until
            </label>
            <input type="date" v-model="rule.allowedBefore" />
          </div>
        </div>
      </div>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="submit()">
          Save changes
        </button>
        <button class="button" @click="cancel()">Cancel</button>
      </footer>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: ["isActive"],
  data() {
    return {
      dataConsumers: ["urn:ids:connectors:CBS"],
      dataProviders: [
        "urn:ids:connectors:Belastingdienst",
        "urn:ids:connectors:CAK",
        "urn:ids:connectors:CJIB",
      ],
      forminComplete: false,
      rule: {
        dataConsumer: null,
        dataProvider: null,
        allowDebtAnalysis: false,
        disallowOutsideNl: false,
        allowBefore: null,
      },
    };
  },
  methods: {
    submit() {
      if (!this.rule.dataConsumer || !this.rule.dataProvider) {
        this.forminComplete = true;
        return;
      } else {
        this.forminComplete = false;
      }
      this.$emit("submit", this.rule);
    },
    cancel() {
      this.$emit("cancel");
    },
  },
});
</script>